
<ion-view view-title="NANCY´S ORDER">
<style>
  .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
  }
  .list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
</style>
  <ion-content>
      <ion-list>
        <div class="item item-divider">
           <p style="font-size:12px">SELECT ITEMS</p>
        </div>
         <ion-item class="item-stable"ng-class="{active: isGroupShown(group)}" ng-click="toggleGroup(group)">
            <a>
               <h3>Laundry<i class="icon"style="padding-left:80%" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i></h3>
            </a>
         </ion-item>
         <ion-item class="item-accordion"ng-repeat="item in items"ng-show="isGroupShown(group)">
           <p>{{item.name}}</p>
           <p>{{item.price}}</p>
          </ion-item>
      </ion-list>
  </ion-content>
  <ion-footer-bar style="padding:0px;width:100%;height:auto">
      <button class="button"style="width:100%;padding:0px;background-color:#0066ff;color:#FFFFFF;border-radius:0px;border-width:0px">CONTINUE</button>
  </ion-footer-bar>
</ion-view>
