<ion-view view-title="NANCY´S ORDER">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <h3 style="margin-top:5px">Order #0023</h3>
      </div>
      <div class="col col-25">
        <h4>Driver:</h4>
        <h5>Carlos</h5>
      </div>
      <div class="col col-25">
        <img src="https://cambiardeimagen.files.wordpress.com/2013/03/moda-masculina-lentes-cara-hombre-carametria-caramorfoligia-consultoria-de-imagen.jpg"style="border-radius:50%;width:60%"/>
      </div>
    </div>
    <hr style="height:0px;width:92%;margin-top:-7px">
      <h4 style="padding-left:15px">Service</h4>
      <h4 style="padding-left:15px">Dry cleaning</h4>
      <div class="row">
        <div class="col col-50"style="margin-top:-10px">
          <h5 style="padding-left:5px">- 2 shirts</h5>
          <h5 style="padding-left:5px">- 1 suit</h5>
        </div>
        <div class="col col-50"style="margin-top:-10px">
          <h5 align="right">$ 98.00</h5>
          <h5 align="right">$ 50.00</h5>
        </div>
      </div>
      <hr style="height:0px;width:92%;margin-top:-5px">
      <div class="row">
        <div class="col col-50"style="margin-top:-10px">
          <h4 style="padding-left:5px">Collection time:</h4>
          <h5 style="padding-left:5px">Today 4/APR/16</h5>
          <h5 style="padding-left:5px">7:30 PM</h5>
        </div>
        <div class="col col-50" style="margin-top:-10px">
          <h4>Drop off:</h4>
          <h5>Tommorrow 5/APR/16</h5>
          <h5>13:30hrs - 14:00</h5>
        </div>
      </div>
      <hr style="height:0px;width:92%">
      <div>
          <h4 style="padding-left:15px">Location: </h4>
          <h5 style="padding-left:15px">Calz. del Valle, 420, Del Valle <br> San Pedro Garza García, N.L.</h5>
      </div>
      <hr style="height:0px;width:92%">
      <div>
        <h4 style="padding-left:15px">Payment:</h4>
        <h5 style="padding-left:15px">Credit card: **** **** **** 7310</h5>
      </div>
      <hr style="height:0px;width:92%">
      <div class="row">
        <div class="col col-50">
          <h3>Total: </h3>
        </div>
        <div class="col col-50">
          <h3 align="right">$ 148.00</h3>
        </div>
      </div>
  </ion-content>
  <ion-footer-bar style="padding:0px;width:100%">
      <button class="button"style="width:100%;padding:0px;background-color:#0066ff;color:#FFFFFF;border-radius:0px;border-width:0px">SEND RECEIPT</button>
  </ion-footer-bar>
</ion-view>
